<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>高考志愿填报辅助系统</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="大学志愿,高考志愿,填报志愿,志愿填报,志愿参考">
		<meta name="description" content="本系统由华侨大学本科生1525161002 制作，历年高考分数数据参考每年教育部公布的数据。系统将结合考生的成绩以及兴趣，筛选出合适且详细的志愿信息，帮助考生和家长科学填报。">
		
		<link rel="icon" href="../img/favicon.ico"  type="image/x-icon" />
		<link rel="shortcut icon" href="../img/favicon.ico"  type="image/x-icon" />
		
		<link href="../css/common.css"  type=text/css rel=stylesheet />
		
		<script language="javascript" type="text/javascript" src="../js/login.js" ></script>
		

	</head>
	<body style="background:#6CA6CD fixed;background-size:cover;">
		<table width="800px" border="0" align="center" cellpadding="0" cellspacing="0">
  			
			<!-- top -->
			<tr> 
 				<td colspan="1">
 					
					</br>
					<div id = "topMenu">
					  	<ul>
						    <li><a href="index.html"  target="_blank">首页</a></li><li class="topdivline">|</li>
							<li><a href="https://www.baidu.com/"  target="_blank">百度一下，你就知道</a></li><li class="topdivline">|</li>
						    </ul>
					</div>
					</br></br></br></br></br></br>
					<!--<div id="banner"><img src="img/light_blue.png" width="100%" height="auto"></div> -->
				</td>
			</tr>
		
		
		</table>
		
		<form action="" name="myform">
		<table width="800px" border="0" align="center" cellpadding="15" cellspacing="0" style="background-color: white;">
  			<tr> 
 				<td colspan="4">
 					<font style="font-size: 32px;">登录</font>
					</br>
 				</td>
			</tr>
		
			<tr align="left"> 
 				<td colspan="1"></td>
 				<td colspan="3">
 					<font style="font-size: 26px;">账号:</font>
 					<input id="user1" type="text" placeholder="账号"></input>
					</br>
 				</td>
			</tr>
		
			<tr align="left"> 
 				<td colspan="1"></td>
 				<td colspan="3">
 					<font style="font-size: 26px;">密码:</font>
 					<input id="password1" type="text" placeholder="密码"></input>
					</br>
 				</td>
			</tr>
			<tr align="left"> 
 				<td colspan="1"></td>
 				<td colspan="2">
 					<font style="font-size: 26px;">验证码:</font>
 					<input id="code1" type="text" placeholder="暂时不用填"></input>
					</br>
 				</td>
 				<td colspan="1">
					<button class="btn1" id ="codeChange">
						换一张
					</button>
 				</td>
			</tr>
			
			<tr align="center"> 
				<td colspan="4"> <hr> </td>
			</tr>
			
			<tr align="center"> 
 				<td colspan="4" background="">
					<a class="btn1" id="login1" onclick=login_submit()><font color="white">登录</font></a>
				</td>
				
			</tr>
			
			<tr align="center"> 
				<td colspan="2">
					<a class="btn1" id="reg1" href="reg.html"><font color="white">注册</font></a>
				</td>
				<td colspan="2">
					<a class="btn1" href="forget_password.html"><font color="white">找回密码</font></a>
				</td>
			</tr>
			
			<tr align="center"> 
				<td colspan="4"> <hr> </td>
			</tr>
			
			<tr align="center"> 
				<td colspan="1">
					<font>其他方式登录:</font>
				</td>
				<td colspan="1">
					<a><img src="../img/qq.png" style="height:50px;width:50px;"></a>
				</td>
				<td colspan="1">
					<a><img src="../img/wechat.jpg" style="height:50px;width:50px;"></a>
				</td>
				<td colspan="1">
					<a><img src="../img/sinaweibo.png" style="height:50px;width:50px;"></a>
				</td>
			</tr>
			
		</table>
		</form>
		
	</body>
</html>
